{% extends 'base.html' %}
{% block title %}
Calendar
{% endblock %}




{% block content %}
<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">License Data</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">License Data</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
   
    <div class="row">
    <div class="col-md-3">
    <div class="sticky-top mb-3">
    <div class="card">
    <div class="card-header">
    <h4 class="card-title">Draggable Events</h4>
    </div>
    <div class="card-body">
    
    <div id='external-events'>
    <div class="external-event bg-success">Lunch</div>
    <div class="external-event bg-warning">Go home</div>
    <div class="external-event bg-info">Do homework</div>
    <div class="external-event bg-primary">Work on UI design</div>
    <div class="external-event bg-danger">Sleep tight</div>
    <div class="checkbox">
    <label for="drop-remove">
    <input type="checkbox" id="drop-remove">
    remove after drop
    </label>
    </div>
    </div>
    
    </div>
    
    </div>
    
    <div class="card">
    <div class="card-header">
    <h3 class="card-title">Create Event</h3>
    </div>
    <div class="card-body">
    <div class="btn-group" style="width: 100%; margin-bottom: 10px;">
    <ul class="fc-color-picker" id="color-chooser">
    <li><a class="text-primary" href="#"><i class="fas fa-square"></i></a></li>
    <li><a class="text-warning" href="#"><i class="fas fa-square"></i></a></li>
    <li><a class="text-success" href="#"><i class="fas fa-square"></i></a></li>
    <li><a class="text-danger" href="#"><i class="fas fa-square"></i></a></li>
    <li><a class="text-muted" href="#"><i class="fas fa-square"></i></a></li>
    </ul>
    </div>
    
    <div class="input-group">
    <input id="new-event" type="text" class="form-control" placeholder="Event Title">
    <div class="input-group-append">
    <button id="add-new-event" type="button" class="btn btn-primary">Add</button>
    </div>
    
    </div>
    
    </div>
    </div>
    </div>
    </div>
    
    <div class="col-md-9">
    <div class="card card-primary">
    <div class="card-body p-0">
    
    <div id="calendar"></div>
    </div>
    
    </div>
    
    </div>
    
    </div>
    
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var Calendar = FullCalendar.Calendar;
        var Draggable = FullCalendar.Draggable;
    
        var containerEl = document.getElementById('external-events');
        var calendarEl = document.getElementById('calendar');
        var checkbox = document.getElementById('drop-remove');
    
        // initialize the external events
        // -----------------------------------------------------------------
    
        new Draggable(containerEl, {
      itemSelector: '.external-event',
      eventData: function(eventEl) {
        return {
          title: eventEl.innerText,
          backgroundColor: window.getComputedStyle( eventEl ,null).getPropertyValue('background-color'),
          borderColor: window.getComputedStyle( eventEl ,null).getPropertyValue('background-color'),
          textColor: window.getComputedStyle( eventEl ,null).getPropertyValue('color'),
        };
      }
    });
    
        // initialize the calendar
        // -----------------------------------------------------------------
    
        var calendar = new Calendar(calendarEl, {
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay'
          },
          editable: true,
          droppable: true, // this allows things to be dropped onto the calendar
          drop: function(info) {
            // is the "remove after drop" checkbox checked?
            if (checkbox.checked) {
              // if so, remove the element from the "Draggable Events" list
              info.draggedEl.parentNode.removeChild(info.draggedEl);
            }
          }
        });
    
        calendar.render();
      });
      





      
    </script>


{% endblock %}

