{% extends 'base.html' %}
{% block title %}
Profile
{% endblock %}

{% block content %}

<div class="row  justify-content-md-center" style="padding: 50px;">
                    <div class="col-md-8">
                        <div class="card card-widget widget-user">
                        <div class="widget-user-header text-white" style="background: url('static/dist/img/sansan.png') center center;">
                            <h3 class="widget-user-username text-right">Saniel Sainoding</h3>
                            <h5 class="widget-user-desc text-right">System Admin</h5>
                        </div>
                        <div class="widget-user-image">
                            <img class="img-circle" src="{{ url_for('static', filename='dist/img/sansan2.jpg')}}" alt="User Avatar">
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-sm-4 border-right">
                                    <div class="description-block">
                                    <h5 class="description-header">3,200</h5>
                                    <span class="description-text">DEPLOYED</span>
                                    </div>
                                </div>
                                <div class="col-sm-4 border-right">
                                    <div class="description-block">
                                    <h5 class="description-header">13,000</h5>
                                    <span class="description-text">FOLLOWERS</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="description-block">
                                    <h5 class="description-header">35</h5>
                                    <span class="description-text">PRODUCTS</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                <!--- TAble Below-->


                <div class="card-body p-0">
                    <div class="table table-hover table-dark">
                        <table class="table m-0">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Name</th>                             
                                    <th scope="col">Email</th>
                                    <th scope="col">Buget</th>
                              
                                    <th scope="col">Options</th>
                                   
                                   
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                {% include 'includes/users_modals.html' %}
                                <tr>
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.email_address }}</td>
                                    <td>{{ user.budget }}$</td>
                                    
                                    <td>
  
                                      <button class="btn btn-outline btn-info" data-toggle="modal" data-target="#Modal-MoreInfo-{{ user.id }}">More Info</button>
                                        
                                  
                                        <a href="https://demo.snipeitapp.com/models/1/edit" class="btn btn-sm btn-warning" data-tooltip="true" title="Update">
                                          <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                                          <span class="sr-only">Update</span>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
 {% endblock %}